<div class="card-columns mt-3">
    <div *ngFor="let xt of mostrar">
        <div class="card text-bg-dark" >
            <img [src]="xt.images.downsized_medium.url" class="card-img-top" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title text-light">{{xt.title}}</h5>
              <p class="card-text text-light">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text text-light"><small>Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>

  </div>